body{
    background: linear-gradient(to right, #f8d59e, #19547b);
}

.gg{
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 10px;
}

.footer {
    background: linear-gradient(to right, #ffd89b, #19547b);
    color: white;
    padding: 20px 0;
    margin-top: 205px;
    color: #111;
    font-size: 18px;
    font-weight: 500;
}